<div class="all">
    <!-- <app-logged-nvbar></app-logged-nvbar> -->

    <div class="row panel buttons-space">
        <div class="col-3">
            <div class="col-12 text-center mittu-title" (click)="backToHome()">
                mittu
            </div>
        </div>

        <div class="col-3 text-center"></div>
        <div class="col-3 text-center"></div>

        <div class="col-3">
            <div class="row">
                <div class="col text-center">
                    <i class="fa fa-user-secret icon" (click)="closeSession()"></i>
                </div>
            </div>
            <div class="row">
                <div class="col text-center" style="padding-top: 10px; color: #17A2B8; cursor: pointer;">
                    <p (click)="closeSession()"> Cerrar sesión</p>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-12" style="padding-top: 40px;">

        </div>
    </div>


    <div class="row">
        <div class="col-1">

        </div>

        <div class="col-2 vertical-panel borders">
            <div style="padding-top: 20px;"></div>
            <div class="row">
                <div class="col text-center" style="color: white;">
                    <h1> <b> <span class="badge badge-info"> mittu </span> </b> </h1>
                    <img src="{{endpoint_student_image}}/{{studentImage }}" alt="" class="img-thumbnail"
                        style="border-radius: 50%;">
                    <div style="padding-top: 20px;"></div>
                    <button class="btn btn-info col-12" (click)="idStudentToUploadImage()" data-toggle="modal"
                        data-target="#modalImageStudent">Seleccionar
                        foto de perfil</button>
                </div>
            </div>

            <div class="row">
                <div class="col text-center" style="padding-top: 20px;">
                    <p class="roboto-font-twenty-five"> <b> {{studentObject.name}} {{studentObject.lastName}} </b> </p>
                </div>
            </div>

            <div class="row borders-sides">
                <div class="col text-left" style="padding-top: 15px;">
                    <p class="roboto-font-twenty" style="color: black;"> Correo: {{studentObject.email}} </p>
                </div>
            </div>


            <div class="row borders-sides">
                <div class="col text-left" style="padding-top: 15px;">
                    <p class="roboto-font-twenty" style="color: black;"> Telefono: {{studentObject.phone}} </p>
                </div>
            </div>

            <div class="row borders-sides">
                <div class="col text-left" style="padding-top: 15px;">
                    <p class="roboto-font-twenty" style="color: black;"> Saldo disponible : {{studentObject.money |
                        currency}} COP</p>
                </div>
            </div>

            <div class="row borders-sides"></div>
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-info" (click)="openTransaccionts()"> Realizar recarga </button>
                </div>
            </div>
            <div style="padding-top: 15px;"></div>
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-outline-info"> Editar información </button>
                </div>
            </div>
            <div style="padding-bottom: 30px;"></div>

        </div>

        <div class="col-1">

        </div>
        <div class="col-7 horizontal-panel">

            <div class="row" style="padding-top: 20px;">
                <div class="col-4 text-center">
                    <button class="btn btn-info btn-block" (click)="showTutoriaDetails()"> Ver detalles de las tutorías
                    </button>
                </div>

                <div class="col-4 text-center">
                    <button class="btn btn-info btn-block" (click)="showProfile()">Ver mis
                        transacciones</button>
                </div>

                <div class="col-4 text-center">
                    <button class="btn btn-info btn-block" (click)="showGrupalCourses()">Ver mis
                        cursos grupales </button>
                </div>
            </div>

            <div style="padding-top: 20px; padding-bottom: 20px;"> </div>

            <div class="card border-info">

                <div *ngIf="openTransactions" style="padding-top: 20px; padding-bottom: 20px;">
                    <div class="row" style="padding-bottom: 30px;">
                        <div class="col text-right">
                            <button class="btn btn-info col-md-4" (click)="closeTransactions()"> cerrar
                                opciones
                                de recarga
                            </button>
                        </div>
                    </div>
                    <app-transaction></app-transaction>
                </div>

                <div *ngIf="onTutoriasDetails && dataSourceTwo.data.length <=  0">
                    <div class="card bg-info">
                        <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
                            <div class="col-12 text-center text-white">
                                <h2> Aún no has realizado alguna tutoría </h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="onTutoriasDetails && dataSourceTwo.data.length >  0" style="padding-bottom: 40px;">
                    <mat-form-field appearance="standard">
                        <input matInput (keyup)="applyFilterTwo($event)" placeholder="Ex. Juan Pablo" #input>
                    </mat-form-field>

                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSourceTwo" matSort>

                            <ng-container matColumnDef="FechaDeLaTutoria">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de la tutoría </th>
                                <td mat-cell *matCellDef="let row"> {{row.fechaDeCreacion}}</td>
                            </ng-container>

                            <ng-container matColumnDef="DuracionDeLaTutoria">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Duración de la tutoría
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.duration}} minutos </td>
                            </ng-container>

                            <ng-container matColumnDef="NombreDelEstudiante">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del profesor
                                </th>
                                <td mat-cell *matCellDef="let row"> {{row.teacherName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="PagoRealizadoPorLaTutoria">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pago realiizado por la
                                    tutoría </th>
                                <td mat-cell *matCellDef="let row"> {{row.studentPayment}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsTwo"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsTwo;"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"
                                </td>
                            </tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>

                <div class="spaces-courses">
                    <div *ngIf="grupalCourses" style="padding-bottom: 40px;">
                        <div class="row">
                            <div class="col text-center" style="padding-top: 20px;  padding-bottom: 20px;">
                                <p class="roboto-font-twenty-five" style="color: black;"> Cursos grupales</p>
                            </div>
                        </div>

                        <div *ngIf="grupalCoursesFound.length <= 0" class="container">
                            <div class="card bg-info">
                                <div class="row">
                                    <div class="col-12 text-center text-white">
                                        <h2>Aún no te has inscrito a cursos grupales</h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div *ngFor="let grupalCourse of grupalCoursesFound" class="col-6">
                                <div class="card border-secondary mb-3 text-center">
                                    <div class="card-header"><b>Nombre</b></div>
                                    <div class="card-header">{{grupalCourse.name}}</div>
                                    <div class="card-body text-secondary">
                                        <img src="{{endpoint_grupal_course_image}}/{{grupalCourse.picture}}" alt=""
                                            class="img-thumbnail rounded image-size">
                                        <p class="card-text space-over"><b>descripción de curso</b></p>
                                        <p class="card-text">{{grupalCourse.description}} </p>
                                        <p class="card-text"><b> Horario</b> </p>
                                        <p class="card-text">{{grupalCourse.classTime}} </p>
                                        <p class="card-text"><b> Url de la reunion</b> </p>
                                        <a href="{{grupalCourse.urlMeet}}" target="_blank">{{grupalCourse.urlMeet}}</a>
                                        <div class="col-12 text-center space-over"
                                            style="padding-top: 10px; padding-bottom: 10px">
                                            <button class="btn btn-info" (click)="goToMeet(grupalCourse.urlMeet)">Ir a
                                                clase</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="profiles">
                    <div class="container">
                        <div class="row space-over space-bottom"> </div>
                    </div>

                    <div class="row">
                        <div class="col text-center" style="padding-top: 15px;">
                            <p class="roboto-font-twenty-five" style="color: black;"> Historial de transacciones</p>
                        </div>
                    </div>

                    <div *ngIf="dataSource">
                        <div *ngIf="dataSource.data.length <= 0" class="container"
                            style="padding-top: 30px; padding-bottom: 30px;">
                            <div class="card bg-info">
                                <div class="row" style="padding-bottom: 30px; padding-top: 30px;">
                                    <div class="col-12 text-center text-white">
                                        <h2>Aún no has realizado transacciones</h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="dataSource.data.length > 0" class="container"
                            style="padding-top: 30px; padding-bottom: 30px;">
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort>

                                    <ng-container matColumnDef="Fecha">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                                        <td mat-cell *matCellDef="let row"> {{row.fechaDeCreacion}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="CantidadRecargada">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad Recargada </th>
                                        <td mat-cell *matCellDef="let row"> {{row.cost | currency}} COP </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-upload-student-image *ngIf="idStudentImageToUpload" [studentIdToHeredate]="idStudentImageToUpload"
        (studentEmmiterUpload)="refreshPicture()"></app-upload-student-image>


    <div style="padding-top: 140px">
        <!--  <app-footer></app-footer>-->
    </div>
</div>