<div class="all">

  <div>
    <app-header></app-header>
    <div class="row">
      <div class="col-10" style=" padding-top: 15px; padding-bottom: 15px;">
      </div>
    </div>

    <div *ngIf="bannerTransfer && bannerColor">
      <div class="advertising-panel" [ngStyle]="{'background-color':bannerColor}">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div style="padding-top: 20px;"></div>
              <img src="{{endpoint_image_upload}}/{{bannerTransfer.urlBanner}}" alt="" class="img-thumbnail">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding-bottom: 20px;">
      <div class="row">
        <div class="col-12 text-center space-over space-down  montserrat-font-thirty">
          Elige lo que buscas
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-center">
          <button class="col-6 btn btn-info" (click)="optionOneMethod()"> Tutorías individuales</button>
        </div>
        <div class="col-6 text-center">
          <button class="col-6 btn btn-info" (click)="optionTwoMethod()"> Cursos grupales</button>
        </div>
      </div>
    </div>
  </div>

  <!-- TAB 1  -->
  <div class="section-space" *ngIf="optionOneSelected">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 text-center  montserrat-font-thirty" style="color: black;">
          Tutorías individuales
        </div>
      </div>
      <div class="row">
        <div class="col-12 input-group-prepend text-center space-over">
          <form class="example-form">
            <div class="input-padding">
              <input type="text" placeholder="Ejemplo ingles" aria-label="Tutorias" matInput
                [formControl]="autoComplete" [matAutocomplete]="auto" style="margin: auto;">
            </div>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="showName">
              <mat-option *ngFor="let course of filteredOptions | async" [value]="course">
                {{course.name}}
              </mat-option>
            </mat-autocomplete>
          </form>
        </div>
      </div>
    </div>

    <div style="padding-top: 40px;"></div>

    <div *ngIf="filteredOptions">
      <div class="personal-container">
        <div class="row">
          <div *ngFor="let course of coursesFonundSearch" class="col-3 text-center"
            style="padding-top: 10px; padding-bottom: 10px;">
            <div class="card border-secondary mb-3 card-background">
              <div class="card-body">
                <img src="{{endpoint_course_image}}/{{course.picture}}" alt="" class="img-thumbnail rounded image-size">
                <div style="padding-top: 10px;"></div>
                <p class="card-text"> <b>{{course.name}}</b></p>
                <p class="card-text">{{course.description}}</p>
                <div class="row space-bottom space-over">
                  <div *ngIf="authService.hasRole('ROLE_STUDENT')" class="col-6">
                    <button class="btn btn-info"
                      (click)=createSessionChat(course.idTeacher,course.teacherName,course.meetUrlCourse)
                      data-toggle="modal" data-target="#chatModal">
                      Entrar a tutoría
                    </button>
                  </div>

                  <div class="col-6">
                    <button class="btn btn-outline-info" (click)=openTeacherInformation(course.idTeacher)
                      data-toggle="modal" data-target="#openTeacherInfo">
                      Ver informacion del docente
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="padding-bottom: 40px;"></div>

  </div>
</div>


<!-- TAB 2  -->
<div class="section-space" *ngIf="optionTwoSelected">
  <div class="container text-center">
    <div class="row">
      <div class="col-12 text-center montserrat-font-thirty" style="color: black;">
        Cursos grupales
      </div>
    </div>
    <div class="row">
      <div class="col-12 input-group-prepend text-center space-over">
        <form class="example-form">
          <div class="input-padding">
            <input type="text" placeholder="Ejemplo ingles" aria-label="Grupales" matInput
              [formControl]="autoCompleteGrupalCourses" [matAutocomplete]="autoGrupal">
          </div>
          <mat-autocomplete #autoGrupal="matAutocomplete" [displayWith]="showNameTwo">
            <mat-option *ngFor="let grupalCourse of filteredOptionsGrupalCourses | async" [value]="grupalCourse">
              {{grupalCourse.name}}
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>
    </div>
  </div>

  <div style="padding-top: 40px;"></div>

  <div *ngIf="filteredOptionsGrupalCourses">
    <div class="personal-container">
      <div class="row">
        <div *ngFor="let grupalCourse of coursesFonundGrupal" class="col-3 text-center"
          style="padding-top: 10px; padding-bottom: 10px;">
          <div class="card border-secondary mb-3 card-background">
            <div class="card-body">
              <img src="{{endpoint_grupal_course_image}}/{{grupalCourse.picture}}" alt=""
                class="img-thumbnail rounded image-size">
              <div style="padding-top: 10px;"></div>
              <p class="card-text"> <b>{{grupalCourse.name}}</b> </p>
              <p class="card-text">{{grupalCourse.description}}</p>
              <p class="card-text"> <b> Costo del curso </b></p>
              <p class="card-text">{{grupalCourse.price | currency}}</p>
              <p class="card-text"><b> Horario</b> </p>
              <p class="card-text">{{grupalCourse.classTime}} </p>
              <div class="text-center space-over">
                <button class="btn btn-info col-md-8" (click)=goToDetailGroup(grupalCourse) data-toggle="modal"
                  data-target="#modalGroup">
                  Ver informacion del curso
                </button>
              </div>
              <div class="text-center space-over">
                <button class="btn btn-outline-info" (click)=openTeacherInformation(grupalCourse.idTeacher)
                  data-toggle="modal" data-target="#openTeacherInfo">
                  Ver informacion del docente
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-grupal-course *ngIf="grupalCourseSelected" [grupalCourse]="grupalCourseSelected"></app-grupal-course>

  <app-chat *ngIf="chatModalOpen" [idStudent]="idStudent" [idTeacher]="idTeacher" [urlMeet]="urlMeetSelected"
    (goToMeetEventEmiter)="goToMeetUrl()"> </app-chat>
</div>

<app-teacher-info *ngIf="idTeacherSelected > 0" [idTeacherFor]="idTeacherSelected"> </app-teacher-info>

<!-- Timmer modal -->
<ng-template #editModalHome let-modal>
  <div class="modal-header">

  </div>

  <div *ngIf="showPartOne">
    <div class="modal-body">
      <div class="row">
        <div class="col-12 text-center" style="padding-top: 20px; padding-bottom: 5px;">
          <h1>
            Tiempo actual de la tutoría
          </h1>
        </div>
      </div>
      <div class="row" style="padding-bottom: 40px;">
        <div class="col-6 text-center">
          <div class="text-center">
            Minutos
          </div>
        </div>
        <div class="col-6 text-center">
          <div class="text-center">
            Segundos
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-5 text-center numbers">
          <div class="text-center">
            {{this.minutes}}
          </div>
        </div>
        <div class="col-1 text-center numbers">
          <div class="text-center">
            :
          </div>
        </div>
        <div class="col-6 text-center numbers">
          <div class="text-center">
            {{this.seconds}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12" style="padding-top: 40px;">

      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-12 text-center">

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showPartTwo">
    <div class="modal-body">
      <div class="col-12 text-center" style="padding-top: 20px; padding-bottom: 5px;">
        <h1>
          Tiempo actual de la tutoría
        </h1>
      </div>

      <div class="round-border">
        <div class="row" style="padding-bottom: 40px; padding-top: 45px;">
          <div class="col-5 text-center">
            <div class="text-center">
              Minutos
            </div>
          </div>
          <div class="col-1 text-center numbers">
            <div class="text-center">
            </div>
          </div>
          <div class="col-6 text-center">
            <div class="text-center">
              Segundos
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-5 text-center numbers">
            <div class="text-center">
              {{this.minutes}}
            </div>
          </div>
          <div class="col-1 text-center numbers">
            <div class="text-center">
              :
            </div>
          </div>
          <div class="col-6 text-center numbers">
            <div class="text-center">
              {{this.seconds}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-warning" (click)="openFeedBack()">
            Continuar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showPartThree">
    <div class="modal-body">
      <div class="row">
        <div class="col-12 text-center" style="padding-top: 5px; padding-bottom: 5px;">
          <h1>
            Clasifica la calidad de tu tutoría
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center" style="padding-top: 5px; padding-bottom: 5px;">
          <h2>
            Donde 1 es malo y 5 es excelente
          </h2>
        </div>
      </div>

      <div style="padding-left: 70px;">
        <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
          <div class="col-1.1">
            <div class="input-group mb-3">
              <button [ngClass]="{'star-color' : isCheckedOne === true, 'star-no-color': isCheckedOne === false}"
                (click)="startOne()"> </button>
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col-1.1">
            <div class="input-group mb-3">
              <button [ngClass]="{'star-color' : isCheckedTwo === true, 'star-no-color': isCheckedTwo === false}"
                (click)="startTwo()"> </button>
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col-1.1">
            <div class="input-group mb-3">
              <button [ngClass]="{'star-color' : isCheckedThree === true, 'star-no-color': isCheckedThree === false}"
                (click)="startThree()"> </button>
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col-1.1">
            <div class="input-group mb-3">
              <button [ngClass]="{'star-color' : isCheckedFour === true, 'star-no-color': isCheckedFour === false}"
                (click)="startFour()"> </button>
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col-1.1">
            <div class="input-group mb-3">
              <button [ngClass]="{'star-color' : isCheckedFive === true, 'star-no-color': isCheckedFive === false}"
                (click)="startFive()"> </button>
            </div>
          </div>
        </div>
      </div>

      <form #feedBackForm="ngForm">
        <div class="form-group row">
          <div class="col-12 text-center">
            <div class="input-group">
              <textarea type="text" class="form-control" [(ngModel)]="feedback" aria-label="With textarea"
                name="feedback"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center" style="padding-top: 20px; padding-bottom: 20px;">
            <button class="btn btn-info" (click)="sentCalification(); modal.close()"> Enviar calificación </button>
          </div>
        </div>
      </form>

    </div>
  </div>

</ng-template>