<!-- Modal -->
<div *ngIf="modalService.modal" class="modal fade" id="modalGroupCreateForm" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row space-over space-bottom">
                    <div class="col-12 text-center">
                        <h2> Formulario para crear el curso grupal</h2>
                    </div>
                </div>
                <div class="text-center">
                    <form autocomplete="off" [formGroup]="grupalCourseForm">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Nombre</label>
                            <input type="text" class="form-control" id="name" placeholder="{{grupalCourse?.name}}"
                                formControlName="name">
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                                <div *ngIf="name.errors.minlength || name.errors.maxlength ">
                                    El nombre debe de tener entre 2 y 200 caracteres
                                </div>
                                <div *ngIf="name.errors.required">
                                    El nombre es requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Descripción</label>
                            <input type="text" class="form-control" id="description"
                                placeholder="{{grupalCourse?.description}}" formControlName="description">
                            <div *ngIf="description.invalid && (description.dirty || description.touched)"
                                class="alert alert-danger">
                                <div *ngIf="description.errors.minlength || description.errors.maxlength ">
                                    La descripción debe de tener entre 2 y 200 caracteres
                                </div>
                                <div *ngIf="description.errors.required">
                                    La descripción es requerido
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Horario</label>
                            <input type="text" class="form-control" id="classTime"
                                placeholder="{{grupalCourse?.classTime}}" formControlName="classTime">
                            <div *ngIf="classTime.invalid && (classTime.dirty || classTime.touched)"
                                class="alert alert-danger">
                                <div *ngIf="classTime.errors.minlength || classTime.errors.maxlength ">
                                    El horario debe de tener entre 2 y 200 caracteres
                                </div>
                                <div *ngIf="classTime.errors.required">
                                    El horario es requerido
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="formGroupExampleInput2">url reunion</label>
                            <input type="text" class="form-control" id="urlMeet" placeholder="{{grupalCourse?.urlMeet}}"
                                formControlName="urlMeet">
                            <div *ngIf="urlMeet.invalid && (urlMeet.dirty || urlMeet.touched)"
                                class="alert alert-danger">
                                <div *ngIf="urlMeet.errors.minlength || urlMeet.errors.maxlength ">
                                    La url del meet debe de tener entre 2 y 200 caracteres
                                </div>
                                <div *ngIf="urlMeet.errors.required">
                                    La url del meet es requerido
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer text-center">

                <button *ngIf= "grupalCourseForm.valid" type="submit" class="btn btn-info col-md-5" data-dismiss="modal"
                    (click)="createGrupalCourseAndCloseModal()">Crear</button>

                <button type="button" class="btn btn-outline-info col-md-5" data-dismiss="modal"
                    (click)="closeModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>