<div class="row panel buttons-space">
    <div class="col-4">
        <div class="col-12 text-left mittu-title">
            mittu
        </div>
    </div>

    <div class="col-8 text-right">
        <div *ngIf="authService.hasRole('ROLE_STUDENT')">
            <button class="col-3 btn btn-outline-info" (click)="myProfile()"> ver perfil </button>
        </div>
        <div *ngIf="authService.hasRole('ROLE_TEACHER')">
            <button class="col-3 btn btn-info" (click)="myProfileTeacher()"> ver perfil </button>
        </div>
        <div *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button class="col-3 btn btn-info" (click)="myProfileAdmin()"> ver perfil </button>
        </div>
    </div>
</div>

<div *ngIf="!noAuth" style="padding-top: 40px; padding-bottom: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <button class="btn btn-info" (click)="goToRegisterStudent()"> Registrarme como
                    estudiante</button>
            </div>
            <div class="col-5">
                <button class="btn btn-info" (click)="goToRegisterTeacher()"> Registrarme como
                    docente</button>
            </div>
            <div class="col-2">
                <button class="btn btn-info" (click)="goToLogin()"> Ingresar </button>
            </div>
        </div>
    </div>
</div>