.numbers {
    font-size: 100px;
    color: chocolate;
}

.numbersTwo {
    font-size: 100px;
    color: rgb(14, 226, 216);
}

.modal-body {
    height: 250px;
}

.image-size {
    max-width: 100%;
    height: 155px;
  }