table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.general-pedding {
    padding-top: 15px;
    padding-right:15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
